.Topbar {
    left: 77.8%;
    margin-top: 4%;
    margin-left: 33.8%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 60px;
    width: 32%;
    background-color: #7cd1e2;
}